<h1 class="movielist_category">Romance</h1>
<div style="text-align:center">
<%= render 'movies/movielist', movies: @movies_romance %>
</div>

<h1 class="movielist_category">Horror</h1>
<div style="text-align:center">
<%= render 'movies/movielist', movies: @movies_horror %>
</div>

<h1 class="movielist_category">Comedy</h1>
<div style="text-align:center">
<%= render 'movies/movielist', movies: @movies_comedy %>
</div>

<h1 class="movielist_category">Science Fiction</h1>
<div style="text-align:center">
<%= render 'movies/movielist', movies: @movies_sf %>
</div>

<h1 class="movielist_category">Musical</h1>
<div style="text-align:center">
<%= render 'movies/movielist', movies: @movies_musical %>
</div>

<h1 class="movielist_category">Animation</h1>
<div style="text-align:center">
<%= render 'movies/movielist', movies: @movies_animation %>
</div>