<div class="kuuhaku">
  <ul class="list-unstyled">
  <% movies.each do |movie| %>
    <div class="user_list">
      <li class="media">
        <div class="media-body">
          <% if movie.image_name? %>
            <p class="user_image"><%= image_tag movie.image_name_url%></p>
          <% else %>
           <p class="user_image"><%= image_tag "/assets/noimage.png"%></p>
          <% end %>
          <p class="movie_title"><span class="movie_title_logo">User</span><%= movie.user.name %></p>
          <p class="movie_title"><span class="movie_title_logo">Title</span><%= movie.title %></p>
        </div>
      </li>
    </div>
    <% end %>
  </ul>
</div>
<%= paginate movies %>