<div class="row kuuhaku">
  <aside class="col-sm-4">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%= @movie.title %></h3>
      </div>
      <div class="card-body">
        <% if @movie.image_name? %>
        <div class="user_image"><%= image_tag @movie.image_name.url%></div>
        <% else %>
         <div class="user_image"><img src="https://res.cloudinary.com/hbvvwh0vr/image/upload/v1570983763/noimage_k8cvmz"></div>
        <% end %>
          <div class="movie_title"><span class="movie_title_logo">User</span><%= movie.user.name %></div>
          <div class="movie_title"><span class="movie_title_logo">Category</span><%= movie.category %></div>
        </div>
      </div>
    </aside>
    
    <div class="col-sm-8">
      <h1 class="movielist_category">Introduction</h1>
      <h3><%= @movie.introduction %></h3>
    </div>

</div>