<ul class="list-unstyled">
  <% movies.each do |movie| %>
    <li class="media mb-3 movies_container">
      <div class="media-body">
        <div>
          <p class="movie_image"><%= image_tag movie.image_name.to_s %></p>
          <p class="movie_title"><span class="movie_title_logo">Title</span><%= movie.title %></p>
          <p class="movie_category"><span class="movie_category_logo">Category</span><%= movie.category %></p>
        </div>
        
        <ul class="list-unstyled">
            <li style="display:inline-block;"><%= render 'favorites/like_button', movie: movie %></li>
        </ul>
        
      </div>
    </li>
  <% end %>
  <%= paginate movies %>
</ul>