<% if logged_in? %>
  <div class="row kuuhaku">
    <aside class="col-sm-4">
    <% if @movie.errors.any? %>
      <div id="error_explanation" class="alert alert-warning">
        <ul class="mb-0">
          <h3><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h3>
          <% @movie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h1 style="font-size: 30px">Let's Share Movies!</h1>
      <%= form_with(model: @movie, local: true) do |f| %>
        <div class="form-group">
          Movie Title: <%= f.text_area :title, class: 'form-control', rows: 1 %>
        </div>
        <div class="form-group">
          Movie Category: <%= f.select :category, [["Romance"], ["Horror"],  ["Comedy"], ["SF"],["Musical"],["Animation"] ],  :prompt => "Select" %>
        </div>
        <div class="form-group">
          Movie Intoroduction: <%= f.text_area :introduction, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
        <p><%=f.label "Upload Image:"%><br><span style="font-size:13px"><%= f.file_field :image_name %></span></p>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block post_button' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'movies/movies', movies: @movies %>
    </div>
  </div>
<% else %>
  <div class="center toppage_image">
    <div class="text-center-toppage">
      <h1>Movie Collection</h1>
      <h2>~ Let's Share Your Favorite Movies ~</h2>
      <%= link_to 'Sign up', signup_path, class: 'btn btn-lg btn-primary top_button' %>
      <%= link_to 'Login', login_path, class: 'btn btn-lg btn-primary top_button' %>
    </div>
  </div>
<% end %>